sudo: false
language: node_js
node_js:
  - 10 # use nodejs v10 LTS
cache: npm
branches:
  only:
    - master # build master branch only
script:
  - mkdir download
  - cd download
  - mkdir re
  - cd re
  - curl -O 'https://github.com/NickeManarin/ScreenToGif/releases/download/2.26.1/ScreenToGif.2.26.1.Portable.zip'
  - cd ..
  - tar cjf - re/ |split -b 20m - screentogif.tar.bz2.
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: download
